on: [push]

name: CI

jobs:
  maven:
    needs:
      - windows_x64
      - linux_x64
      - linux_armv7
      - mac_arm
    name: Maven
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@master
        with:
          name: windows_crypto_amd64.dll
          path: src/main/resources
      - uses: actions/download-artifact@master
        with:
          name: linux_crypto_amd64.so
          path: src/main/resources
      - uses: actions/download-artifact@master
        with:
          name: linux_crypto_arm.so
          path: src/main/resources
      - uses: actions/download-artifact@master
        with:
          name: macosx_crypto_aarch64.dylib
          path: src/main/resources
      - name: Set up Maven Central Repository
        uses: actions/setup-java@v1
        with:
          java-version: 11
          server-id: ossrh
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
      - name: Publish package
        run: mvn -B deploy
        env:
          MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.OSSRH_TOKEN }}
  mac_arm:
    name: Mac ARM
    runs-on: darwin-arm64
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          target: aarch64-apple-darwin
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: install
          args: xargo
      - run: xargo build --target aarch64-apple-darwin --release --manifest-path crypto/Cargo.toml
      - run: mv crypto/target/aarch64-apple-darwin/release/libcrypto.dylib crypto/target/aarch64-apple-darwin/release/macosx_crypto_aarch64.dylib
      - uses: actions/upload-artifact@master
        with:
          name: macosx_crypto_aarch64.dylib
          path: crypto/target/aarch64-apple-darwin/release/macosx_crypto_aarch64.dylib
  windows_x64:
    name: Windows x64
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          target: x86_64-pc-windows-msvc
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: install
          args: xargo
      - run: xargo build --target x86_64-pc-windows-msvc --release --manifest-path crypto/Cargo.toml
        env:
          RUSTFLAGS: "-C target-feature=+aes,+ssse3"
      - run: mv crypto/target/x86_64-pc-windows-msvc/release/crypto.dll crypto/target/x86_64-unknown-linux-gnu/release/windows_crypto_amd64.dll
      - uses: actions/upload-artifact@master
        with:
          name: windows_crypto_amd64.dll
          path: crypto/target/x86_64-pc-windows-msvc/release/windows_crypto_amd64.dll
  linux_x64:
    name: Linux x64
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install binutils
        run: sudo apt-get install -y binutils
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          target: x86_64-unknown-linux-gnu
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: install
          args: xargo
      - run: xargo build --target x86_64-unknown-linux-gnu --release --manifest-path crypto/Cargo.toml
        env:
          RUSTFLAGS: "-C target-feature=+aes,+ssse3"
      - run: strip -s -w -K Java_* crypto/target/x86_64-unknown-linux-gnu/release/libcrypto.so
      - run: mv crypto/target/x86_64-unknown-linux-gnu/release/libcrypto.so crypto/target/x86_64-unknown-linux-gnu/release/linux_crypto_amd64.so
      - uses: actions/upload-artifact@master
        with:
          name: linux_crypto_amd64.so
          path: crypto/target/x86_64-unknown-linux-gnu/release/linux_crypto_amd64.so
  linux_armv7:
    name: Linux ARMv7
    runs-on: ARM
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: armv7-unknown-linux-gnueabihf
          override: true
        env:
          RUSTUP_UNPACK_RAM: "220000001"
      - uses: actions-rs/cargo@v1
        with:
          command: install
          args: xargo
      - run: xargo build --target armv7-unknown-linux-gnueabihf --release --manifest-path crypto/Cargo.toml
      - run: strip -s -w -K Java_* crypto/target/armv7-unknown-linux-gnueabihf/release/libcrypto.so
      - run: mv crypto/target/armv7-unknown-linux-gnueabihf/release/libcrypto.so crypto/target/armv7-unknown-linux-gnueabihf/release/linux_crypto_arm.so
      - uses: actions/upload-artifact@master
        with:
          name: linux_crypto_arm.so
          path: crypto/target/armv7-unknown-linux-gnueabihf/release/linux_crypto_arm.so
